@import "tailwindcss";

@theme {
  --font-headline: "Epilogue", sans-serif;
  --font-body: "Plus Jakarta Sans", sans-serif;
  
  --color-primary: #556069;
  --color-secondary: #605d6a;
  --color-tertiary: #705953;
  --color-background: #fff7fa;
  --color-surface: #fff7fa;
  --color-on-surface: #1e1b1d;
  --color-primary-container: #c5d0db;
  --color-secondary-container: #e2dded;
  --color-tertiary-container: #e6c8bf;
}

@layer base {
  body {
    @apply bg-background text-on-surface font-body;
  }
}

.mesh-gradient {
  background-color: #fff7fa;
  background-image:
    radial-gradient(at 0% 0%, hsla(253, 16%, 82%, 1) 0, transparent 50%),
    radial-gradient(at 50% 0%, hsla(225, 10%, 40%, 0.15) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsla(11, 15%, 85%, 1) 0, transparent 50%);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
